@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* || RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

/* || UTILITY CLASSES */
.offscreen {
    position: absolute;
    left: -10000px;
}

.center {
    text-align: center;
}

/* || GENERAL STYLES */
body {
    margin: 0 auto;
    width: 100%;
    font-family: "Open Sans", serif;
    line-height: 1.4;
    color: #010409;
    background-image: linear-gradient(#e6edf3, #679289);
}

h1 {
    margin-top: 0;
    line-height: 1.5;
    color: #2e4057;
}

p {
    margin-top: 0;
    margin-bottom: 1.5rem;
    font-size: 1.125rem;
    line-height: 1.5;
    color: #010409;
}

form {
    margin-bottom: 2rem;
    padding: 1.5rem;
    border: 1px solid #ecf2f6;
    border-radius: 10px;
    background-color: #fefefe;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    color: #010409;
}

fieldset {
    border: none;
}

legend {
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
}

input[type="checkbox"],
input[type="radio"] {
    accent-color: #679289;
}

button {
    border: none;
}

.container {
    margin: 3.125rem auto 0 auto;
    padding: 1rem;
    width: 95%;
    max-width: 720px;
}

/* || HEADER */
.header {
    padding: 0 0.625rem;
    margin-bottom: 1.875rem;
}

.description {
    font-weight: 200;
    font-style: italic;
}

/* || FORM */
.personal-information {
    margin-top: 1.5rem;
}

.clue {
    margin-left: 0.25rem;
    font-size: 0.9rem;
    color: #6e7681;
}

.form-group {
    margin-bottom: 1.25rem;
    padding: 0.25rem;
    width: 100%;
}

.form-control {
    display: block;
    padding: 0.375rem 0.75rem;
    border: 1px solid #6e7681;
    border-radius: 10px;
    width: 100%;
    height: 2.375rem;
    color: #010409;
    background-color: #fefefe;
}

.satisfaction-info {
    font-size: 0.9rem;
    color: #6e7681;
}

.required {
    color: #e63946;
    font-weight: bold;
}

.input-radio,
.input-checkbox {
    display: inline-block;
    margin-right: 0.625rem;
    min-height: 1rem;
    min-width: 1rem;
    vertical-align: -0.125rem;
}

.input-textarea {
    padding: 0.625rem;
    border-radius: 10px;
    width: 100%;
    min-height: 120px;
    resize: vertical;
}

.submit-button {
    display: block;
    padding: 0.75rem;
    border-radius: 10px;
    width: 100%;
    font-weight: bold;
    color: #e6edf3;
    background-color: #2e4057;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.submit-button:hover,
.submit-button:focus-visible {
    background-color: #4e5d73;
    outline: 2px solid #6e7681;
}

.submit-button:active {
    transform: scale(0.99);
}